@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&family=Poppins:wght@400;600&family=Space+Mono:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    max-width: 1440px;
    max-height: 1080px;
    margin: 0px auto;
}

header{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    height: 100%;
    align-items: center;
}

header h1{
    font-family: 'PT Serif', serif;
    font-size: max(min(5vw, 60px), 36px);
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.045em;
    text-align: left;
    padding: 0px 10px;
}

header div{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    max-width: 440px;
    height: 100%;
    gap: 20px;
    padding: 20px 1%;
}   

header div h2{
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
}

header div p{
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
}

main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    padding: 50px;
}

main div.grid:nth-child(2),
main div.grid:nth-child(5){
    padding-top: 100px;
}

main div.grid div.content{
    height: 100%;
    position: relative;
    margin: 0px auto;
    width: min-content;
}

main div.grid div.content img{
    max-width: 264px;
    max-height: 383px;
    width: 25vw;
}


main div.grid div.content p.vertical-text{
    position: absolute;
    top: 0px;
    right: 0px;
    rotate: 90deg;
    transform-origin: right bottom;
    transform: translate(100%, -5px);

    font-family: PT Serif;
    font-size: min(4vw, 25px);
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;

    width: max-content;
}

footer{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    height: 100%;
    align-items: center;
    padding: 20px 0px;
}

footer a{
    text-decoration: none;
    color: #000000;
}

@media (max-width:791px){
    header h1{
        padding-top: 20px;
    }

    main{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-row-gap: 0px;
        padding: 3%;
    }

    main div.grid div.content img{
        width: 30vw;
    }

    main div.grid:nth-child(odd){
        padding: 0px;
    }

    main div.grid:nth-child(even){
        padding-top: 3vh;
    }
}

@media (max-width:400px){
    main{
        padding: 10px 0px;
        grid-column-gap: 10px;
    }

}
